= render :partial => 'readers/flasher'

#forum
  #forum_preamble
    %p= t('forums.forum_preamble', :all_recent_discussions_link => link_to("all the most recent discussion", topics_url))
    %p= link_to t('forums.start_disscussion_link_text'), new_topic_url, :class => 'newmessage'

  - if @forums.empty?
    %p= t('forums.empty_forum_text')

  - else
    - if @forums.previous_page
      = paginate_and_summarise @forums, 'forums'

    %ul.main
      = render :partial => 'forums/forum', :collection => @forums

    = paginate_and_summarise @forums, 'forums'

- content_for :pagetitle do
  = t('forums.discussion_categories')

- content_for :feed do
  = feed_link(formatted_forums_path(:rss))

- content_for :controls do
  = render :partial => 'readers/controls'
  
- content_for :breadhead do
  = link_to t('forums.forum'), topics_url, :class => 'breadhead'

- content_for :breadcrumbs do
  = link_to t('forums.forum'), topics_url
  = t('forums.breadcrumbs')

- content_for :help do
  = render :partial => 'topics/help'