= render :partial => 'readers/flasher'

#forum
  #forum_preamble
    = clean_textilize(@forum.description)

  - unless @forum.for_comments?
    %p
      = link_to t('forums.start_discussion_link'), new_forum_topic_url(@forum), :class => 'newmessage'

  - if @topics.empty?
    %p= t('forums.empty_topic')

  - else
    - unless @topics.current_page == 1
      = paginate_and_summarise @topics, t('forums.topics')

    %ul.main
      = render :partial => 'topics/topic', :collection => @topics, :locals => { :with_context => false }

    = paginate_and_summarise @topics, 'topics'

- content_for :pagetitle do
  = @forum.name

- content_for :feed do
  = feed_link(formatted_forum_path(@forum, :rss))

- content_for :breadhead do
  = link_to t('forums.categories'), forums_url, :class => 'breadhead'

- content_for :breadcrumbs do
  = link_to t('forums.discussion_categories'), forums_url
  \&gt;
  = link_to @forum.name, forum_url(@forum) 

- content_for :controls do
  = render :partial => 'readers/controls'
