= render :partial => 'readers/flasher'

#forum
  #new_topic
    - form_for :topic, :url  => @forum ? forum_topics_path(@forum) : topics_path, :html => {:class => 'friendly', :multipart => true} do |f|
      = render :partial => "form", :object => f
      %p.buttons
        = submit_tag t('forums.start_discussion_button') 
        = t('forums.or') 
        - if @forum
          = link_to(t('cancel'), forum_path(@forum))
        - else
          = link_to(t('cancel'), :back)

- content_for :pagetitle do
  = t('forums.start_disscussion_link_text')

- content_for :breadhead do
  - if @forum
    = link_to @forum.name, forum_url(@forum), :class => 'breadhead'
  - else
    = link_to t("forums.forum"), topics_url, :class => 'breadhead'
  
- content_for :controls do
  = render :partial => 'readers/controls'

- content_for :credits do
  %p.context
    = t('forums.reader_credentials', :current_reader_name_link => link_to(current_reader.name, reader_url(current_reader)), :logout_link => link_to(t('forums.log_out_link'), reader_logout_url))

- content_for :breadcrumbs do
  = link_to t('forums.forum'), topics_url
  \&gt;
  - if @forum
    = link_to @forum.name, forum_url(@forum)
    \&gt;
  = t('forums.new_discussion')
