#forum
  %h2
    = t('forums.comments_on_page_title', :page_title => page.title)

- if posts.nil?
  %p= t('forums.no_comments_yet')
  %pre= posts.inspect

- else
  %pre= posts.inspect
  %p= current_reader.inspect