%h3= t('forums.latest_discussion')
%ul.clean
  - Post.visible.latest(6).each do |post|
    %li
      = gravatar_for(post.reader, {:size => '30'}, {:class => 'gravatar'})
      = link_to post.topic.name, forum_topic_url(post.topic.forum, post.topic)
      %br
        %span.credit
          - if post.topic.page
            = t('forums.commented_upon_by_reader_name')
          - elsif post.first?
            = t('forums.started_by_reader_name')
          - else
            = t('forums.replied_to_by_reader_name')
          = post.reader.name
          = friendly_date(post.created_at)
