- post ||= @post
- first_post ||= nil
- with_context ||= false
- without_author ||= false
- preview ||= false

%div.post{:id => post.dom_id}
  %div{:class => post.first? ? 'first_post' : 'reply'}
    .post_header
      - if admin?
        .post_control
          %p.post_admin
            = link_to t('forums.edit'), edit_topic_post_url(post.topic, post), :class => 'edit_post', :id => "revise_post_#{post.id}"
            %span.separator |
            = link_to t('forums.delete'), topic_post_url(post.topic, post), :method => 'delete', :class => 'delete_post', :id => "delete_post_#{post.id}", :title => "remove post", :confirm => t('forums.confirm_delete_message')
      %h2
        - if with_context
          %a{:href => forum_topic_url(post.topic.forum, post.topic, :anchor => "post_#{post.id}"), :class => post.first? ? 'speaker begun' : 'speaker replied'}
            = gravatar_for(post.reader, {:size => 40}, {:alt => post.reader.name, :class => 'gravatar', :width => '40', :height => '40'})
            = post.topic.name
        - else
          %a{:href => reader_url(post.reader), :class => 'speaker'}
            = gravatar_for(post.reader, {:size => 40}, {:alt => post.reader.name, :class => 'gravatar', :width => '40', :height => '40'})
            = post.reader.name
      %p.context
        - if with_context
          = link_to post.reader.name, reader_url(post.reader)
          - if post.first?
            = t('forums.first_post')
            = link_to(post.topic.forum.name, forum_url(post.topic.forum))
          - else
            = t('forums.replied_post')
        - else
          = t('forums.posted')
        = friendly_date(post.created_at)
        - if post.updated_at && post.updated_at > post.created_at
          = t('forums.and_updated')
          - if post.updated_by && post.updated_by != post.created_by
            = t('forums.by_name', :name =>  post.updated_by.name)
          = friendly_date(post.updated_at)
          
    .post_wrapper
      .post_body
        - if post.frozen?
          %p= t('forums.post_removed')
        - elsif preview
          = truncate_and_textilize(post.body, 100)
        - else
          = clean_textilize(post.body)
        
        - unless post.attachments.empty?
          .post_attachments
            %h4= t('forums.attached')
            %ul 
              = render :partial => 'posts/attachment', :collection => post.attachments, :locals => {:removable => false}

        - if post.editable_by?(current_reader)
          .post_control
            %p
            - if post.editable_interval
              = t('forums.edit_time_remaining', :still_editable_time => distance_of_time_in_words(post.still_editable_for), :edit_post_link => link_to(t('forums.edit_your_post_link'), edit_topic_post_url(post.topic, post), :class => 'edit_post', :id => "revise_post_#{post.id}"))
              