%form.friendly{:action => search_posts_url}
  %h2= t('forums.forum_search_title')

  %p
    %label{:for => "q"}= t('forums.search.form_labels.search_for')
    = text_field_tag "q", params[:q], :class => 'standard'

  %p
    %label{:for => "forum_id"}= t('forums.search.form_labels.discussion_categorie')
    %select{:name => "forum_id"}
      %option{:value => ""}
        = t('forums.search.anywhere')
      = options_from_collection_for_select(Forum.find(:all), "id", "name", params[:forum_id].to_i)

  -if Radiant::Config['forum.search_by_reader']
    %p
      %label{:for => "reader_id"}= t('forums.search.form_labels.by_person')
      %select{:name => "reader_id"}
        %option{:value => ""}= t('forums.search.anyone')
        = options_from_collection_for_select(Reader.find(:all), "id", "name", params[:reader_id].to_i)

  %p
    = submit_tag t('forums.search.search')
