/ this form is usually brought in by a remote call to sit on the page in the place of the post itself.

- message_type = @topic.page ? t('forums.message_type.comment')  : t('forums.message_type.message')

- form_for :post, :url  => topic_post_path(@topic, @post), :html => {:method => 'put', :multipart => true, :id => "post_form_#{@post.id}", :class => 'friendly'} do |f|
  = render :partial => 'posts/form', :object => f
  %p.buttons
    = f.submit t('forums.save_changes') + " " + t('forums.or')
    
    = link_to t('cancel'), topic_post_path(@topic, @post), :class => 'cancel'

- content_for :pagetitle do
  = t('forums.edit').capitalize + message_type

- content_for :breadhead do
  = link_to @post.topic.name, forum_topic_url(@post.topic.forum, @post.topic), {:class => 'breadhead'}

- content_for :controls do
  = render :partial => 'readers/controls'
