%h1 
  = t('forums.remove_discussion_category')

%p 
  = t('forums.confirm_remove_discussion_category', :forum_name => link_to(@forum.name, forum_url(@forum)))
  - if @forum.topics_count > 0
    = t('forums.discussion_category_has_topics_and_or_posts', :topics_count => @forum.topics_count, :posts_count => @forum.posts_count )
  - else
    = t('forums.discussion_category_has_no_topics_or_posts')

%p.buttons
  = button_to(t('forums.delete_forum'), admin_forum_url(@forum), {:method => 'delete', :confirm => t('forums.delete_forum_confirm'), :class => 'button'})
  = t('forums.or')
  = link_to t('cancel'), admin_forums_url