<%= render :partial => 'forums/controls' %>
<%= render :partial => 'forums/notification' %>

<div id="forum_preamble" class="contentblock">
  <h2><%= t('forums.watch_list') -%></h2>
  
  <p><%= t('forums.watched_forum_preamble', :web_page_link => link_to("web page", monitored_posts_url), :rss_feed_link => link_to( "rss feed", formatted_monitored_posts_url(current_user, :rss), :class => 'feedlink')) -%></p>
	
  <% @topics.group_by(&:forum).each do |forum, topics| %>
		<h3 class="section""><%= forum.name %></h3>
		
		<% topics.each do |topic| %>
			<%= watch_tag(topic, topic.title) %>
		<% end %>
	<% end%>

	<p><%= t('forums.unwatch_forum_instructions') -%></p>

</div>

<% content_for :breadcrumbs do %>
  <%= link_to 'Home', '/' %> &gt;
  <%= link_to 'Forum', '/forums' %> &gt;
  <%= link_to t('forums.you'), '/users/me' %> &gt;
  <%= t('forums.subscriptions') %>
<% end %>

<% content_for :title do %>
  <%= t('forums.your_subscriptions') %>
<% end %>
